.signIn {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: inherit;
}
.email,
.formText,
.signIn {
  align-self: stretch;
}
.formText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email {
  border: 0;
  background-color: transparent;
  font-family: var(--font-archivo);
  font-size: var(--font-size-base);
  color: var(--light-text);
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-7);
}
.searchFlightsButton {
  width: 160px;
  height: 52px;
}
.searchFlightsButton:hover {
  background-color: var(--color-saddlebrown);
}
.divider,
.form2 {
  align-self: stretch;
}
.form2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl-7);
}
.divider {
  height: 1.6px;
  position: relative;
  border-top: 1.6px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.signUp {
  color: var(--accent);
}
.dontHaveAnContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 160%;
  cursor: pointer;
}
.credentialsContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl-7);
  text-align: center;
  font-size: var(--font-size-base);
}
.form,
.loginFormContainer {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.form {
  flex: 1;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.loginFormContainer {
  width: 589px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
}
.loginSections {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 203.5px var(--padding-xl);
  box-sizing: border-box;
  background-image: url(/public/login-sections@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.contactUs,
.localhostIncAll {
  position: relative;
  line-height: 120%;
  font-weight: 300;
}
.contactUs {
  display: inline-block;
  min-width: 68px;
}
.footerContent,
.footerInformation,
.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footerLinks {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.footerContent,
.footerInformation {
  max-width: 1280px;
}
.footerInformation {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footerContent {
  width: 100%;
  justify-content: center;
}
.footerContainer,
.signInPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footerContainer {
  align-self: stretch;
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-61xl) var(--padding-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.signInPage {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.signInPage:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1275px) {
  .footerContent,
  .footerInformation {
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .loginSections {
    padding-top: var(--padding-113xl);
    padding-bottom: var(--padding-113xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .credentialsContainer {
    gap: var(--gap-lgi);
  }
  .form {
    padding: var(--padding-7xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .loginSections {
    gap: var(--gap-9xl);
    padding-top: var(--padding-67xl);
    padding-bottom: var(--padding-67xl);
    box-sizing: border-box;
  }
  .footerInformation {
    flex-wrap: wrap;
  }
  .footerContainer {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .signIn {
    font-size: var(--font-size-2xl);
  }
  .footerLinks {
    flex-wrap: wrap;
  }
}
