.button,
.reviews {
  position: relative;
  font-weight: 600;
}
.reviews {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-family: inherit;
}
.button {
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
  color: var(--accent);
  text-align: center;
}
.reviewCards,
.reviewsHeader {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.reviewsHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.reviewCards {
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: var(--font-size-base);
}
.reviewCards,
.reviewSection,
.reviewSectionWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.reviewSection {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.reviewSectionWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 750px) {
  .reviewSectionWrapper {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .reviews {
    font-size: var(--font-size-lgi);
  }
  .reviewsHeader {
    flex-wrap: wrap;
  }
}
