.reviewerAvatarsIcon {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.johnnyCash,
.june2023 {
  position: relative;
  letter-spacing: 0.02em;
}
.johnnyCash {
  line-height: 150%;
  font-weight: 600;
}
.june2023 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.reviewerInfo,
.reviewerNamesDates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.reviewerInfo {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.reviewRatings {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.reviewSuperhostIcons {
  height: 16px;
  width: 16px;
  position: relative;
}
.reviewCardContent,
.reviewRatingsParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviewRatingsParent {
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-9xs);
}
.reviewCardContent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.michellesPlaceWas {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 160%;
}
.reviewcard {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--gap-xs);
  min-width: 350px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 750px) {
  .reviewcard {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .reviewCardContent {
    flex-wrap: wrap;
  }
}
