.listingDetailsSection {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.listingDetailsSection,
.listingOverview,
.propertyDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.listingOverview {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  max-width: 100%;
}
.propertyDetails {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  gap: 44px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .listingOverview {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .propertyDetails {
    gap: var(--gap-3xl);
  }
}
